<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BWS Scaling</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <div class="row justify-content-md-center" style="margin:10 auto;">
            <div class="col text-center mt-5">
                <h3>
                    <p class='fw-bold' style="float:left;">Depressed ?</p>
                </h3>
            </div>
            <div class="col col-md-3 mt-5">
                <form action="/">
                    <button type="submit" class="btn btn-outline-dark" style="float:right">Home</button>
                </form>
            </div>   
        </div>       
        <div class="row justify-content-md-center">
            <div class="col col-md-auto mt-5">
                <p class="text-break fs-6">1. {{txt_list[0]}}</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-auto mt-3">
                <p class="text-break fs-6">2. {{txt_list[1]}}</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-auto mt-3">
                <p class="text-break fs-6">3. {{txt_list[2]}}</p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-auto mt-3">
                <p class="text-break fs-6">4. {{txt_list[3]}}</p>
            </div>
        </div>
        <div class="col mt-5">
            <p class="fs-6 fw-bold">Weakest</p>
        </div>
        <form method="post">
            <div class="row justify-content-md-center">
                {% if weak_idx == 0 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio1" value=0 style="background-color:dimgrey;" disabled>
                    <label class="form-check-label" for="radio1">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio2" value=1>
                    <label class="form-check-label" for="radio2">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio3" value=2>
                    <label class="form-check-label" for="radio3">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio4" value=3>
                    <label class="form-check-label" for="radio4">4</label>
                </div>
                {% elif weak_idx == 1 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio1" value=0>
                    <label class="form-check-label" for="radio1">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio2" value=1 style="background-color:dimgrey;" disabled>
                    <label class="form-check-label" for="radio2">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio3" value=2>
                    <label class="form-check-label" for="radio3">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio4" value=3>
                    <label class="form-check-label" for="radio4">4</label>
                </div>
                {% elif weak_idx == 2 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio1" value=0>
                    <label class="form-check-label" for="radio1">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio2" value=1>
                    <label class="form-check-label" for="radio2">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio3" value=2 style="background-color:dimgrey;" disabled>
                    <label class="form-check-label" for="radio3">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio4" value=3>
                    <label class="form-check-label" for="radio4">4</label>
                </div>
                {% elif weak_idx == 3 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio1" value=0>
                    <label class="form-check-label" for="radio1">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio2" value=1>
                    <label class="form-check-label" for="radio2">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio3" value=2>
                    <label class="form-check-label" for="radio3">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio4" value=3 style="background-color:dimgrey;" disabled>
                    <label class="form-check-label" for="radio4">4</label>
                </div>
                {% elif weak_idx == 9999 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio1" value=0>
                    <label class="form-check-label" for="radio1">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio2" value=1>
                    <label class="form-check-label" for="radio2">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio3" value=2>
                    <label class="form-check-label" for="radio3">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt1" id="radio4" value=3>
                    <label class="form-check-label" for="radio4">4</label>
                </div>    
                {% endif %}           
                {% if checked==1 %}
                <button type="submit" class="col col-md-auto btn btn-outline-dark btn-sm m-1" style="float:right; background-color:gray;" disabled>Save</button>
                {% elif checked==0 %}
                <button type="submit" class="col col-md-auto btn btn-outline-dark btn-sm m-1" style="float:right">Save</button>
                {% endif %}
                <!--button type="submit" class="col col-md-auto btn btn-outline-dark btn-sm m-1" style="float:right">Update</button-->
            </div>
        </form>
        <div class="col mt-4">
            <p class="fs-6 fw-bold">Strongest</p>
        </div>
        <form method="post">
            <div class="row justify-content-md-center">
                {% if strong_idx == 0 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio5" value=0 style="background-color:dimgrey;" disabled>
                    <label class="form-check-label" for="radio5">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio6" value=1>
                    <label class="form-check-label" for="radio6">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio7" value=2>
                    <label class="form-check-label" for="radio7">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio8" value=3>
                    <label class="form-check-label" for="radio8">4</label>
                </div>
                {% elif strong_idx == 1 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio5" value=0>
                    <label class="form-check-label" for="radio5">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio6" value=1 style="background-color:dimgrey;" disabled>
                    <label class="form-check-label" for="radio6">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio7" value=2>
                    <label class="form-check-label" for="radio7">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio8" value=3>
                    <label class="form-check-label" for="radio8">4</label>
                </div>
                {% elif strong_idx == 2 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio5" value=0>
                    <label class="form-check-label" for="radio5">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio6" value=1>
                    <label class="form-check-label" for="radio6">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio7" value=2 style="background-color:dimgrey;" disabled>
                    <label class="form-check-label" for="radio7">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio8" value=3>
                    <label class="form-check-label" for="radio8">4</label>
                </div>
                {% elif strong_idx == 3 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio5" value=0>
                    <label class="form-check-label" for="radio5">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio6" value=1>
                    <label class="form-check-label" for="radio6">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio7" value=2>
                    <label class="form-check-label" for="radio7">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio8" value=3 style="background-color:dimgrey;" disabled>
                    <label class="form-check-label" for="radio8">4</label>
                </div>
                {% elif strong_idx == 9999 %}
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio5" value=0>
                    <label class="form-check-label" for="radio5">1</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio6" value=1>
                    <label class="form-check-label" for="radio6">2</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio7" value=2>
                    <label class="form-check-label" for="radio7">3</label>
                </div>
                <div class="col col-md-auto form-check form-check-inline m-1">
                    <input class="form-check-input" type="radio" name="radioOpt2" id="radio8" value=3>
                    <label class="form-check-label" for="radio8">4</label>
                </div>
                {% endif %}
                {% if checked2==1 %}
                    <button type="submit" class="col col-md-auto btn btn-outline-dark btn-sm m-1" style="background-color:gray;" disabled>Save</button>
                {% elif checked2==0 %}
                    <button type="submit" class="col col-md-auto btn btn-outline-dark btn-sm m-1">Save</button>
                {% endif %}
                <!--button type="submit" class="col col-md-auto btn btn-outline-dark btn-sm m-1">Update<button-->
            </div>
        </form>
        <div class="row justify-content-md-center mt-5">
            <div class="col text-lg-start mt-3">
                <p class="text-break fs-6 fst-italic">{{question_no}}/400 Set</p>
            </div>
            <div class="col text-lg-end text-center mt-3">
                <button type="button" class="btn btn-outline-dark m-1" style="float:right; background-color:dimgrey;" disabled>▶</button>
                <form action="/index/{{question_no-1}}">
                    <button type="submit" class="btn btn-outline-dark m-1" style="float:right">◀</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>   
</body>
</html>